.heading{
    width:100%;
    text-align:left;

}

.heading h3{
display: inline;

}

.heading button{
float:right;
border:1px solid white;

}



#start{
font-size: 25px;

}
#status,#restart{
    font-size: 25px;
    margin: 0 auto;
    display: inline;
    
    }

.modal-dialog{
    width:80%;
    height:60%;
    
    }

body{
    font-family: 'Caveat Brush', cursive;
background-size: cover;
text-align:center;

}

canvas{
    border:2px solid white;
    border-radius: 10px;
    margin-top:100px;
    
    box-shadow:3px 3px 3px grey;
    background-color: aliceblue;
    
    }
    h4{
        background-color: #f5f5f5ae;
        line-height: 2;
        margin-top:40px;
        color: red;
        bottom:0;
        position:fixed;
        width:100%;
        width:100%;
        }
        video{
            background: url('medal.png');
            background-size: cover;
            background-position: center;
            padding:25px;
            
            }